.project-card-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
}


.project-card {
  background-color: var(--card-bg);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


html.dark .project-card {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card-image-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.project-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card-body {
  padding: 1rem;
}

.project-section-divider {
  height: 2px;
  background-color: #ccc;
  margin: 3rem 0;
}

html.dark .project-section-divider {
  background-color: #444;
}

.project-detail-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #dee2e6;
}

html.dark .project-detail-section {
  border-color: #444;
}

.project-description {
  overflow: visible;     /* Asegura que el texto no se oculte */
  white-space: normal;   /* Permite saltos de línea */
  text-overflow: unset;
}
